{{!-- CSS Import --}}
<link rel="stylesheet" href="/css/create.css">
{{!-- End CSS Import --}}   

<div class="register_container">
    <div class="half left">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/children-drawing-4798584-3998505.png?f=webp" alt="Placeholder Image">
        <p>Se cadastre na nossa escola agora!</p>
    </div>
    <div class="half right">
        <div class="register_form">
            <form id="register_form" method="POST" action="/cadastrar">
                <label for="kid_name">Nome do Aluno:</label>
                <input type="text" id="kid_name" name="kid_name" required>
                
                <label for="responsible_person">Responsável:</label>
                <input type="text" id="responsible_person" name="responsible_person" required>
                
                <label for="kid_birthday">Data de Nascimento:</label>
                <input type="date" id="kid_birthday" name="kid_birthday" required>
                
                <label for="kid_school_year">Ano Escolar:</label>
                <input type="text" id="kid_school_year" name="kid_school_year" required>
                
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</div>